<!DOCTYPE html>
<html>
<head>
	<title>Feedback Form</title>
	<link rel="stylesheet"   href="/style/feedback.css">
</head>
<body >
	<div class="container">
		<form  method = "post">
			<h1>Feedback Form</h1>
			<label for="rollno">ROLL NO:</label>
			<input type="number" id="rollno" name="rollno">
			
			<label for="rating">Rating:</label>
			<select id="rating" name="rating" required>
				<option value="">Select rating</option>
				<option value="poor">Poor</option>
				<option value="average">Average</option>
				<option value="good">Good</option>
			</select>
			<label for="message">Message:</label>
			<textarea id="message" name="message" required></textarea>
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>
