<!DOCTYPE ejs>
<ejs>
    <head>
        <title>MESS SAVINGS</title>
        <link rel = "icon" href = "NIT_Andhra_Pradesh.ico">
        <link rel = "stylesheet" href = "/style/mess_savings.css">
    </head>
    <body>
        <div class = "navbar"> 
            <div>
                <img  style = "padding-top:5px;padding-bottom:5px; "src = "/images/NIT_Andhra_Pradesh.ico" >
                <h1 style="padding-top: 10px;">Mess Savings</h1>
            </div>
            <div> 
                <ul class = "menubar">
                    <li>
                        <a href = "/htmlfiles/Home_page.ejs">HOME PAGE</a> 
                    </li> 
                </ul>
            </div>
        </div>
        <div class = "four-templates">
            <div class ="fd">
                <img src = "/images/week.jpg" alt="time table icon">
                <a href ="/htmlfiles/timetable.ejs"><button class ="btn">
                    watch 
                </button></a>
            </div>
            <div class ="fd">
                <img  style =" width: 150px;" src ="/images/food.png" alt = "food quote">
                <a href ="/htmlfiles/Login.ejs"><button class ="btn">
                    get now  
                </button></a>
            </div>
            <div class ="fd">
                <img src = "/images/feedback.webp" alt="feedback form icon">
                    <a href ="/htmlfiles/feedback.ejs"><button class ="btn">
                        Start  
                    </button></a> 
            </div>
            <div class = "fd">
                <img src = "/images/attendance.jpg" alt="attendance form icon">
                    <a href ="/htmlfiles/attendance.ejs"><button class ="btn">
                        mark present 
                    </button></a> 
            </div>
        </div>
    </body>
</ejs>