<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
	<link rel="stylesheet" type="text/css" href="/style/signup.css">
</head>
<body>
	<div class="container">
		<form method ="post">
			<h1>Signup</h1>
			<input type="name" name ="name" placeholder = "Enter your name" required>
            <input type="text" name = "rollno" placeholder="Roll number" required>
			<input type="email"  name ="email"placeholder="Email" required>
			<input type="password" name = "password" placeholder="Password" required>
			<input type="number" name = "year" placeholder = "Year Of Study" required>
			<input type = "number" name = "mobile" placeholder = "Enter mobile Number" required>
		
			<!-- <input type="password" placeholder="Confirm Password" required> -->
			 
			<input type="submit" value="Signup">
		</form>
	</div>
</body>
</html>
