<!DOCTYPE html>

<html>
    <head>
        <title>MESS TIME TABLES</title>
        <style>
            body{
                background-image: url('/images/background3.webp');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .embed{
                width:90%;
                height: 1000px;
                display: block;
                gap: 10px;
                margin-left:auto;
                margin-right: auto;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <iframe  class = "embed"src = "/images/MENU FOR AKSHAYA MESS - FEB 2023.pdf" frameborder = "0"></iframe>
        <iframe  class = "embed"src = "/images/MENU FOR AMRUTHA MESS - FEB 2023.pdf" frameborder = "0"></iframe>
        <iframe  class = "embed"src = "/images/MENU FOR KHAMADHENU MESS - FEB 2023.pdf" frameborder = "0"></iframe>
    </body>
</html>